qualit-api-test/src/main/resources/schema/api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://qualit.ibs-qa.ru/schema/api">

    <xs:annotation>
        <xs:appinfo>Repository</xs:appinfo>
    </xs:annotation>

    <!-- base -->

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FieldType" mixed="true">
        <xs:attribute name="name" type="nonEmptyString" use="required"/>
        <xs:attribute name="locator" type="nonEmptyString" use="required"/>
    </xs:complexType>

    <xs:complexType name="FieldListType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:group ref="FieldsType"/>
        </xs:choice>
    </xs:complexType>

    <xs:group name="FieldsType">
        <xs:choice>
            <xs:element name="FieldString" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldNumber" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldInteger" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldBoolean" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldObject" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldArray" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <!-- body -->

    <xs:element name="ApiGears" type="ApiGearsType"/>

    <xs:complexType name="ApiGearsType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="Endpoint" type="EndpointType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="ProxyType" name="Proxy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Credential" type="CredentialType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EndpointType" mixed="true">
        <xs:sequence>
            <xs:element name="Request" type="RequestType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Response" type="ResponseType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="nonEmptyString" use="required"/>
        <xs:attribute name="path" type="nonEmptyString" use="required"/>
    </xs:complexType>

    <xs:complexType name="RequestType" mixed="true">
        <xs:sequence>
            <xs:element name="Params" type="ParamsFieldListType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Header" type="HeaderFieldListType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Cookie" type="CookiesFieldListType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Body" type="FieldListType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="method" type="MethodList" use="required"/>
        <xs:attribute name="contentType" type="ContentTypeList"/>
        <xs:attribute name="template" type="xs:string"/>
        <xs:attribute name="credential" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ResponseType" mixed="true">
        <xs:sequence>
            <xs:element name="Header" type="HeaderFieldListType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Cookie" type="CookiesFieldListType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Body" type="FieldListType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="contentType" type="ContentTypeList"/>
        <xs:attribute name="schema" type="xs:string"/>
        <xs:attribute name="statusCode" type="StatusCodeList"/>
    </xs:complexType>

    <xs:complexType name="ParamFieldType" mixed="true">
        <xs:complexContent>
            <xs:extension base="FieldType">
                <xs:attribute name="inPath" type="xs:boolean" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeaderFieldType" mixed="true">
        <xs:attribute name="name" type="nonEmptyString" use="required"/>
        <xs:attribute name="locator" type="HeaderKeyList" use="required"/>
        <xs:attribute name="defaultValue" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ParamsFieldListType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:group ref="ParamsFieldsType"/>
        </xs:choice>
    </xs:complexType>

    <xs:group name="ParamsFieldsType">
        <xs:choice>
            <xs:element name="FieldString" type="ParamFieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldNumber" type="ParamFieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldInteger" type="ParamFieldType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FieldBoolean" type="ParamFieldType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="HeaderFieldListType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:group ref="HeaderFieldsType"/>
        </xs:choice>
    </xs:complexType>

    <xs:group name="HeaderFieldsType">
        <xs:choice>
            <xs:element name="FieldString" type="HeaderFieldType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="CookiesFieldListType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:group ref="CookiesFieldType"/>
        </xs:choice>
    </xs:complexType>

    <xs:group name="CookiesFieldType">
        <xs:choice>
            <xs:element name="FieldString" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <xs:simpleType name="StatusCodeList">
        <xs:restriction base="xs:string">
            <xs:enumeration value="100 Continue (продолжай)"/>
            <xs:enumeration value="101 Switching Protocols (переключение протоколов)"/>
            <xs:enumeration value="102 Processing (идёт обработка)"/>
            <xs:enumeration value="200 OK (хорошо)"/>
            <xs:enumeration value="201 Created (создано)"/>
            <xs:enumeration value="202 Accepted (принято)"/>
            <xs:enumeration value="203 Non-Authoritative Information (информация не авторитетна)"/>
            <xs:enumeration value="204 No Content (нет содержимого)"/>
            <xs:enumeration value="205 Reset Content (сбросить содержимое)"/>
            <xs:enumeration value="206 Partial Content (частичное содержимое)"/>
            <xs:enumeration value="207 Multi-Status (многостатусный)"/>
            <xs:enumeration value="208 Already Reported (уже сообщалось)"/>
            <xs:enumeration value="226 IM Used (использовано IM)"/>
            <xs:enumeration value="300 Multiple Choices (множество выборов)"/>
            <xs:enumeration value="301 Moved Permanently (перемещено навсегда)"/>
            <xs:enumeration value="302 Moved Temporarily (перемещено временно)"/>
            <xs:enumeration value="302 Found (найдено)"/>
            <xs:enumeration value="303 See Other (смотреть другое)"/>
            <xs:enumeration value="304 Not Modified (не изменялось)"/>
            <xs:enumeration value="305 Use Proxy (использовать прокси)"/>
            <xs:enumeration value="307 Temporary Redirect (временное перенаправление)"/>
            <xs:enumeration value="308 Permanent Redirect (постоянное перенаправление)"/>
            <xs:enumeration value="400 Bad Request (плохой, неверный запрос)"/>
            <xs:enumeration value="401 Unauthorized (не авторизован (не представился))"/>
            <xs:enumeration value="402 Payment Required (необходима оплата)"/>
            <xs:enumeration value="403 Forbidden (запрещено (не уполномочен))"/>
            <xs:enumeration value="404 Not Found (не найдено)"/>
            <xs:enumeration value="405 Method Not Allowed (метод не поддерживается)"/>
            <xs:enumeration value="406 Not Acceptable (неприемлемо)"/>
            <xs:enumeration value="407 Proxy Authentication Required (необходима аутентификация прокси)"/>
            <xs:enumeration value="408 Request Timeout (истекло время ожидания)"/>
            <xs:enumeration value="409 Conflict (конфликт)"/>
            <xs:enumeration value="410 Gone (удалён)"/>
            <xs:enumeration value="411 Length Required (необходима длина)"/>
            <xs:enumeration value="412 Precondition Failed (условие ложно)"/>
            <xs:enumeration value="413 Payload Too Large (полезная нагрузка слишком велика)"/>
            <xs:enumeration value="414 URI Too Long (URI слишком длинный)"/>
            <xs:enumeration value="415 Unsupported Media Type (неподдерживаемый тип данных)"/>
            <xs:enumeration value="416 Range Not Satisfiable (диапазон не достижим)"/>
            <xs:enumeration value="417 Expectation Failed (ожидание не удалось)"/>
            <xs:enumeration value="418 I’m a teapot (я — чайник)"/>
            <xs:enumeration value="421 Misdirected Request"/>
            <xs:enumeration value="422 Unprocessable Entity (необрабатываемый экземпляр)"/>
            <xs:enumeration value="423 Locked (заблокировано)"/>
            <xs:enumeration value="424 Failed Dependency (невыполненная зависимость)"/>
            <xs:enumeration value="426 Upgrade Required (необходимо обновление)"/>
            <xs:enumeration value="428 Precondition Required (необходимо предусловие)"/>
            <xs:enumeration value="429 Too Many Requests (слишком много запросов)"/>
            <xs:enumeration value="431 Request Header Fields Too Large (поля заголовка запроса слишком большие)"/>
            <xs:enumeration value="449 Retry With (повторить с)"/>
            <xs:enumeration value="451 Unavailable For Legal Reasons (недоступно по юридическим причинам)"/>
            <xs:enumeration value="500 Internal Server Error (внутренняя ошибка сервера)"/>
            <xs:enumeration value="501 Not Implemented (не реализовано)"/>
            <xs:enumeration value="502 Bad Gateway (плохой, ошибочный шлюз)"/>
            <xs:enumeration value="503 Service Unavailable (сервис недоступен)"/>
            <xs:enumeration value="504 Gateway Timeout (шлюз не отвечает)"/>
            <xs:enumeration value="505 HTTP Version Not Supported (версия HTTP не поддерживается)"/>
            <xs:enumeration value="506 Variant Also Negotiates (вариант тоже проводит согласование)"/>
            <xs:enumeration value="507 Insufficient Storage (переполнение хранилища)"/>
            <xs:enumeration value="508 Loop Detected (обнаружено бесконечное перенаправление)"/>
            <xs:enumeration value="509 Bandwidth Limit Exceeded (исчерпана пропускная ширина канала)"/>
            <xs:enumeration value="510 Not Extended (не расширено)"/>
            <xs:enumeration value="511 Network Authentication Required (требуется сетевая аутентификация)"/>
            <xs:enumeration value="520 Unknown Error (неизвестная ошибка)"/>
            <xs:enumeration value="521 Web Server Is Down (веб-сервер не работает)"/>
            <xs:enumeration value="522 Connection Timed Out (соединение не отвечает)"/>
            <xs:enumeration value="523 Origin Is Unreachable (источник недоступен)"/>
            <xs:enumeration value="524 A Timeout Occurred (время ожидания истекло)"/>
            <xs:enumeration value="525 SSL Handshake Failed (квитирование SSL не удалось)"/>
            <xs:enumeration value="526 Invalid SSL Certificate (недействительный сертификат SSL)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MethodList">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GET"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PUT"/>
            <xs:enumeration value="PATCH"/>
            <xs:enumeration value="DELETE"/>
            <xs:enumeration value="HEAD"/>
            <xs:enumeration value="TRACE"/>
            <xs:enumeration value="OPTIONS"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HeaderKeyList">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Accept"/>
            <xs:enumeration value="Accept-Charset"/>
            <xs:enumeration value="Accept-Encoding"/>
            <xs:enumeration value="Accept-Language"/>
            <xs:enumeration value="Accept-Ranges"/>
            <xs:enumeration value="Age"/>
            <xs:enumeration value="Allow"/>
            <xs:enumeration value="Alternates"/>
            <xs:enumeration value="Authorization"/>
            <xs:enumeration value="Cache-Control"/>
            <xs:enumeration value="Connection"/>
            <xs:enumeration value="Content-Base"/>
            <xs:enumeration value="Content-Disposition"/>
            <xs:enumeration value="Content-Encoding"/>
            <xs:enumeration value="Content-Language"/>
            <xs:enumeration value="Content-Length"/>
            <xs:enumeration value="Content-Location"/>
            <xs:enumeration value="Content-MD5"/>
            <xs:enumeration value="Content-Range"/>
            <xs:enumeration value="Content-Type"/>
            <xs:enumeration value="Content-Version"/>
            <xs:enumeration value="Date"/>
            <xs:enumeration value="Derived-From"/>
            <xs:enumeration value="ETag"/>
            <xs:enumeration value="Expect"/>
            <xs:enumeration value="Expires"/>
            <xs:enumeration value="From"/>
            <xs:enumeration value="Host"/>
            <xs:enumeration value="If-Match"/>
            <xs:enumeration value="If-Modified-Since"/>
            <xs:enumeration value="If-None-Match"/>
            <xs:enumeration value="If-Range"/>
            <xs:enumeration value="If-Unmodified-Since"/>
            <xs:enumeration value="Last-Modified"/>
            <xs:enumeration value="Link"/>
            <xs:enumeration value="Location"/>
            <xs:enumeration value="Max-Forwards"/>
            <xs:enumeration value="MIME-Version"/>
            <xs:enumeration value="Pragma"/>
            <xs:enumeration value="Proxy-Authenticate"/>
            <xs:enumeration value="Proxy-Authorization"/>
            <xs:enumeration value="Public"/>
            <xs:enumeration value="Range"/>
            <xs:enumeration value="Referer"/>
            <xs:enumeration value="Retry-After"/>
            <xs:enumeration value="Server"/>
            <xs:enumeration value="Title"/>
            <xs:enumeration value="TE"/>
            <xs:enumeration value="Trailer"/>
            <xs:enumeration value="Transfer-Encoding"/>
            <xs:enumeration value="Upgrade"/>
            <xs:enumeration value="URI"/>
            <xs:enumeration value="User-Agent"/>
            <xs:enumeration value="Vary"/>
            <xs:enumeration value="Via"/>
            <xs:enumeration value="Warning"/>
            <xs:enumeration value="WWW-Authenticate"/>
            <xs:enumeration value="Content-Language"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ContentTypeList">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XML"/>
            <xs:enumeration value="JSON"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ProxyType" mixed="true">
        <xs:attribute name="name" type="nonEmptyString" use="required"/>
        <xs:attribute name="host" type="nonEmptyString" use="required"/>
        <xs:attribute name="port" type="xs:integer" use="required"/>
        <xs:attribute name="scheme" type="ProxySchemaList" use="required"/>
        <xs:attribute name="user" type="xs:string"/>
        <xs:attribute name="password" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="CredentialType" mixed="true">
        <xs:attribute name="name" type="nonEmptyString" use="required"/>
        <xs:attribute name="user" type="xs:string"/>
        <xs:attribute name="password" type="xs:string"/>
        <xs:attribute name="token" type="xs:string"/>
        <xs:attribute name="authentication" type="AuthenticationList" use="required"/>
    </xs:complexType>

    <xs:simpleType name="AuthenticationList">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="PREEMPTIVE_BASIC"/>
            <xs:enumeration value="BASIC"/>
            <xs:enumeration value="DIGEST"/>
            <xs:enumeration value="FORM"/>
            <xs:enumeration value="CSRF"/>
            <xs:enumeration value="OAUTH2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProxySchemaList">
        <xs:restriction base="xs:string">
            <xs:enumeration value="http"/>
            <xs:enumeration value="https"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>